@mixin course-nav-button {
  background-color: $soft-blue;
  border: 0;
  width: 3.5em;
  height: 3.5em;
  display: inline-block;
  float: left;
  .sr {
    display: none;
  }
  .sequence-tooltip {
    // TODO: tbd
    display: none;
  }

  & .fa-chevron-prev:before {
    content: "\f0d9";
    font-size: 2em;
  }
  & .fa-chevron-next:before {
    content: "\f0da";
    font-size: 2em;
  }

  & .fa.seq_problem:before {
    // TODO: tbd
    content: "\f0ca";
  }
  & .fa.seq_video:before {
    // TODO: tbd
    content: "\f008";
  }
  & .fa.seq_other:before {
    // TODO: tbd
    content: "\f129";
  }


  &:hover, &.active {
    background-color: darken($soft-blue, 10%);
    cursor: pointer;
  }
}

.view-in-course {
  .path {
    // TODO: tbd
    display: none;
  }

  .sequence {
    text-align: center;
  }

  .sequence-nav {
    display: inline-block;

    .sequence-nav-button, .sequence-list-wrapper, ol, li {
      display: block;
      float: left;
    }

    &-button {
      @include course-nav-button;
      background-color: darken($soft-blue, 10%);
      &.button-previous {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }
      &.button-next {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }
    }

    .sequence-list-wrapper {
        .nav-item {
          @include course-nav-button;
        }
    }
  }
  .sequence-bottom {
    display: inline-block;

    button {
      display: block;
      float: left;
    }
  }
  .bookmark-button-wrapper {
    // TODO: tbd
    display: none;
  }

  p img {
    float: left;
    display: block;
  }

  .problem {
    .action {
      display: block;
      float: left;
      width: 100%;

      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid $light-gray;

      & > * {
        display: inline-block;
        float: left;
        margin: 0 .5em;
        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
      .check {
        @include edx-button($yellow);
      }
      .show {
        @include edx-button($dark-gray);
        .sr {
          // TODO: tbd
          display: none;
        }
      }
    }

    .solution-span {
      solution {
        @include alert;
        @include alert-info;
      }
      margin-bottom: 1em;
    }
  }

  .discussion-module {
    display: block;
    float: left;
    width: 100%;
    padding: 1em;
    background-color: $slightly-gray;
    border-radius: $base-border-radius;
    margin-bottom: 1em;
    a {
      color: $yellow;
      line-height: 40px;
    }
    .new-post-btn {
      @include edx-button($yellow);
      float: right;
    }
  }

  .choicegroup {
    fieldset {
      margin: 0;
      padding: 0;
      border: 0;

      border-left: 1px solid $light-gray;
      margin: 2em 0 2em 3em;

      position: relative;

      label {
       display: block;
       margin: 1em 0;
       .sr.status {
         // TODO: tbd
         display: none;
         color: $medium-gray;
       }

       &:before {
         @extend .icon;
         content: "\f111";
         position: absolute;
         font-size: 2em;
         left: -1.5em;
         width: 1em;
         top: 0;
         color: $light-gray;
       }

       &.choicegroup_correct:before, &.choicegroup_incorrect:before {
          background-color: white;

          z-index: 1;
       }

       &.choicegroup_correct:before {
         color: #4CAF50;
         content: "\f00c";
       }

       &.choicegroup_incorrect:before {
         color: #F44336;
         content: "\f00d";
       }

       &:first-of-type {
         margin-top: 0;
       }
       &:last-of-type {
         margin-bottom: 0;
       }
       input {
         // TODO: tbd
         margin: 0 .5em 0 2em;
       }
     }
   }
   .indicator-container {
     display: none;
      // margin-bottom: 1em;
      // .status {
      //   display: block;
      //   padding: .5em;
      //   @include alert;
      //   &.unanswered {
      //     display: none;
      //   }
      //   &.incorrect {
      //     @include alert-danger;
      //   }
      //   &.correct {
      //     @include alert-success;
      //   }
      //
      // }
    }
  }
}

.view-in-course, .discussion {
  #seq_content {
    float: left;
    margin: 3em 0;
    display: block;
    width: 100%;
    text-align: left;
  }
  nav.wrapper-course-material {
    @include full-width-block;
    margin-bottom: 2em;

    .tab, .right {
      display: inline-block;
      padding: 0 .5em;
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      a, button {
        @include edx-flat-button();
      }

      .sr {
        // TODO: tbd
        display: none;
      }
    }

    .tab {
      float: left;
    }

    .right {
      float: right;
    }
  }

  main#main, .discussion.container {
    @include full-width-block;
  }

  .xmodule_display.xmodule_SequenceModule .seq_contents {
    display: none;
  }
}
