@mixin default-unanswered {
  @extend .icon;
  content: "\f111";
  position: absolute;
  font-size: 2em;
  left: -1.5em;
  width: 1em;
  top: 0;
  color: $light-gray;
}

@mixin answer-correct {
  color: #4CAF50;
  content: "\f00c";
}

@mixin answer-incorrect {
  color: #F44336;
  content: "\f00d";
}

.view-in-course {
    .problems-wrapper {
      .problem-header,
      .problem-progress {
        @include row;
      }
      .problem-progress {
        color: $gray;
        font-size: .75em;
      }
    }
    .problem {
        float: left;
        width: 100%;
        // WTF!!!
        & > div > div > p {
            // font-size: 1.5em;
            margin: $base-spacing 0;
        }
        .action {
            // @include full-width-block;
            @include row;
            padding-bottom: 1em;
            margin-bottom: 1em;
            border-bottom: 1px solid $light-gray;
            & > * {
                display: inline-block;
                float: left;
                margin: 0 $button-space;
                &:first-of-type {
                    margin-left: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }
                @include media($mobile-l) {
                    margin: $button-space 0;
                    width: 100%;
                    display: block;
                }
            }
            .check {
                @include edx-button($bb);
            }
            .show, .save, .reset {
                @include edx-button($bb);
                .sr {
                    // TODO: tbd
                    display: none;
                }
            }
            .submission_feedback {
                @include row;
                width: 100%;
                line-height: $base-spacing*2;
                // float: right;
            }
        }
        .solution-span {
            solution {
              display: block;
                @include alert;
                @include alert-info;
            }
            margin-bottom: 1em;
        }
    }
    .capa_inputtype, .inputtype, .chemicalequationinput, .designprotein2dinput {
        position: relative;
        border-left: 1px solid $light-gray;
        margin: 2em 0 2em 3em;
        label,
        select {
            display: block;
            margin: $small-spacing /2 0;
            padding: $small-spacing /2 ;
        }
        input, textarea, select {
          width: auto;
        }
        .sr.status,
        .status .sr {
            // TODO: tbd
            display: none;
        }
        // WTF!!!
        .status {
          visibility: hidden;
          &:before {
            visibility: visible;
          }
        }

        label {
            &:before {
              @include default-unanswered;
            }
            &.choicegroup_correct:before,
            &.choicegroup_incorrect:before {
                background-color: white;
                z-index: 1;
            }
            &.choicegroup_correct:before {
                @include answer-correct;
            }
            &.choicegroup_incorrect:before {
                @include answer-incorrect;
                z-index: 10;
            }
            &.choicegroup_correct {
              background: lighten(#4CAF50, 20%);
            }
            &.choicegroup_incorrect {
              background: lighten(#F44336, 20%);
            }
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }

        input,
        select {
            &+* {
                vertical-align: middle;
            }
        }
        input,
        select,
        .equation,
        .answer {
          margin: 0 0.5em 0 2em;
        }
        fieldset {
            margin: 0;
            padding: 0;
            border: 0;
            position: relative;
        }
    }

    .capa_inputtype, .chemicalequationinput, .designprotein2dinput, .formulaequationinput {
      .status {
        &:before {
          @include default-unanswered;
        }
      }
      .correct.status,
      .correct .status,
      .partially-correct.status,
      .partially-correct .status {
        &:before {
          @include answer-correct;
        }
      }
      .incorrect.status,
      .incorrect .status {
        &:before {
          @include answer-incorrect;
        }
      }
    }

    .indicator-container {
        position: absolute;
        top: 0;
        left: 0;
        .status {
            display: block;
            &:before {
                @include default-unanswered;
            }
            &.correct:before,
            &.partially-correct:before,
            &.incorrect:before {
                background-color: white;
                z-index: 1;
            }
            &.partially-correct:before,
            &.correct:before {
                @include answer-correct;
            }
            &.incorrect:before {
                @include answer-incorrect;
            }
            &.unanswered {
                &:before {
                    @include default-unanswered;
                }
            }
        }
    }
}
