.view-in-course {
  .container, .tabs.course-tabs {
    @include row;
  }

  .course-wrapper {
    position: relative;
    float: left;

    .course-index {
        @include span-columns(3);
    }
    .course-content {
        @include span-columns(9);
    }

    @include media($mobile-l) {
      .course-index {
          @include omega;
          @include span-columns(12);
      }
      .course-content {
          @include omega;
          @include span-columns(12);
      }
    }

    .course-content {
      border-radius: $base-border-radius;
      background-color: $white;
      margin-right: 0;

      padding: 2em;
    }

    .courseware-results-wrapper {
      // TODO: tbd
      display: none;
    }
  }
}
