.content-wrapper .preview-menu {
    padding: $base-margin 0;
    .sr {
        display: none;
    }
    .action-preview-username-container {
        display: block !important;
    }
}
.instructor-nav {
    @include row;
    margin-bottom: 2em;
    .nav-item {
        float: left;
        display: inline-block;
        padding-right: $small-margin * 2;
        &:last-child {
            padding-right: 0;
        }
        a {
            @include edx-flat-button();
        }
        @include media($mobile-l) {
            width: 100%;
        }
    }
}
.idash-section {
    display: none;
    &.active-section {
        display: inherit;
    }
    input[type=button] {
      @include edx-button($yellow);
      margin: $small-margin 0;
    }
}

.wrap-instructor-info {
  margin: $base-margin 0;
  .instructor-info-action {
      @include edx-button($dark-gray);
      display: inline-block;
      color: white;

      @include media($mobile-l) {
          width: 100%;
      }
  }
}
