.view-in-course, .course-wrapper {
    .discussion-module {
        display: block;
        float: left;
        width: 100%;
        padding: 1em;
        background-color: $slightly-gray;
        border-radius: $base-border-radius;
        margin-bottom: $base-spacing;

        a.discussion-show {
            line-height: 40px;
        }

        .new-post-article {
          margin-top: $base-spacing;
          margin-bottom: $base-spacing;
        }

        .new-post-btn {
            @include edx-button($bb);
            float: right;
        }

        @include media($mobile-l) {
          .new-post-btn {
            float: none;
            width: 100%;
          }
        }
    }
    .discussion-paginator {
      @include row;
      line-height: em(45);
      li {
        @include edx-flat-button($bb);
        display: inline;
        float: left;
        margin: 0 $small-margin / 2;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
      }
    }
}
