.view-in-course {
    .course-index {
        border-radius: $base-border-radius;
        background-color: $white;
        .courseware-bookmarks-button {
            @include row;
            padding: 0.5em;
            // background-color: $soft-blue;
            button {
                text-align: left;
                color: $brand-blue;
                font-weight: bold;
                padding: 0.75em 1em;
                border-radius: $base-border-radius;
                background: none;
                border: none;
                width: 100%;
                cursor: pointer;
                &:before {
                  @extend .icon;
                  content: "\f02e";
                }
                // &:hover,
                // &.is-active {
                //     background-color: darken($soft-blue, 10%);
                // }
            }
        }
        .course-navigation {
            a {
                color: $dark-gray;
            }
            .button-chapter.chapter {
                @include row;
                .group-heading {
                    @include row;
                    padding: 1em;
                    position: relative;
                    a {
                        font-weight: bold;
                    }
                    .chapter-label-name,
                    .icon {
                        display: table-cell;
                    }
                    .chapter-label-name {
                        vertical-align: top;
                    }
                    .icon {
                        vertical-align: middle;
                        padding-right: 0.7em;
                    }
                }
                &.active {
                  font-weight: bold;
                }
                border-top: 2px solid #fbfbfb;

            }
            .chapter-content-container {
                @include row;
                .chapter-menu {
                    margin: {
                        left: 2em;
                        right: 1em;
                    }
                    .menu-item {
                        &.active {
                          .accordion-nav {
                              background-color: $soft-blue;
                          }
                        }
                        &:hover {
                            .accordion-nav {
                                background-color: darken($soft-blue, 10%);
                            }
                        }
                    }
                    .accordion-nav {
                        width: 100%;
                        border-radius: $base-border-radius;
                        display: inline-block;
                        padding: 0.5em 1em;
                        margin: {
                            bottom: 0.5em;
                        }
                        p {
                            margin: 0;
                        }
                        .accordion-display-name {
                            // color: $blue;
                            font-weight: bold;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        .subtitle {
                            font-size: 0.85em;
                            color: $medium-gray;
                        }
                        .sr {
                            // TODO: tbd
                            display: none;
                        }
                    }
                }
                &.is-open {
                    // border-bottom: $base-border;
                }
            }
        }
    }
}
