.view-in-course {
    // p img {
    //     float: left;
    //     display: block;
    // }

    .paging-footer {
      .nav-item {
        display: inline-block;
        float: left;
        text-align: center;
        .page-number-label, .page-number-input {
          display: none;
        }
        .sr {
          display: none;
        }
        &.page {
          display: none;
        }

        button {
          @include course-nav-button;
          min-width: em(40);
          max-width: em(40);
          margin: 0 auto;
          .nav-label {
            display: none;
          }
          &.previous-page-link {
              border-top-left-radius: 50%;
              border-bottom-left-radius: 50%;
          }
          &.next-page-link {
              border-top-right-radius: 50%;
              border-bottom-right-radius: 50%;
          }
        }
      }
    }
}
.discussion,
.view-in-course {
    .info-wrapper {
        margin-bottom: 1em;
        background-color: $white;
        padding: $small-spacing;
        @include row;
        a {
          word-break: break-all;
        }
        h1 {
          margin-top: $base-spacing;
          font-size: 1em;
          font-weight: normal;
          text-transform: uppercase;
          margin-bottom: $base-spacing;
        }
        button {
          @include edx-button($bb);
          margin-bottom: $base-spacing;
        }
        .updates {
            @include media($desktop) {
              @include span-columns(8 of 12);
            }

            @include media($tablet) {
              @include span-columns(8 of 12);
            }

            @include media($mobile-l) {
              @include span-columns(12 of 12);
            }
            article {
              margin-top: $base-spacing;
              padding-top: $base-spacing;
              border-top: $base-border;
              h2 {
                font-size: 1em;
              }
            }
        }
        .handouts {
          @include media($desktop) {
            @include span-columns(4 of 12);
          }

          @include media($tablet) {
            @include span-columns(4 of 12);
          }

          @include media($mobile-l) {
            @include span-columns(12 of 12);
          }
        }
    }

    .home, .page-header-main, .page-subtitle, .xblock {
      @include row;
    }

    .info-wrapper {

    }

    .page-header-main {
      display: none;
    }

    .xblock {
      margin: $base-spacing 0;
    }

    .page-title, .page-subtitle {
      width: 100%;
      float: left;
    }

    .home {
      margin-bottom: $small-spacing;
    }

    .discussion.container,
    main#main {
        @include row;
    }
    .xmodule_display.xmodule_SequenceModule .seq_contents {
        display: none;
    }
}

.course-content {
  ol,
  ul {
    list-style-type: disc;
  }
}
