.view-in-course {
  .course-wrapper {

    .course-index {
        @include span-columns(3);
    }
    .course-content {
        @include span-columns(9);
        @include omega;
    }

    @include media($mobile-l) {
      .course-index {
          @include span-columns(12);
          @include omega;

      }
      .course-content {
          @include span-columns(12);
          @include omega;
      }
    }

    .course-content {
      border-radius: $base-border-radius;
      background-color: $white;

      padding: $base-margin;
    }

    .courseware-results-wrapper {
      // TODO: tbd
      display: none;
    }
  }
}
