.wrapper-course-material {
    @include row;
    margin-bottom: 2em;
    .right,
    .tab {
        display: block;
        padding: 0 $small-margin;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        a {
            @include edx-flat-button();
        }
        .new-post-btn {
            @include edx-button($dark-gray);
        }
        .sr {
            // TODO: tbd
            display: none;
        }
    }
    .tab {
        float: left;
    }
    .right {
        float: right;
    }
    @include media($menu-breakpoint) {
      .tab, .right {
        float: none;
        padding: 0;
        margin: $small-margin 0;
      }
      .right button {
        width: 100%;
      }
    }
}
