.discussion {
    .discussion-body {
        .forum-nav {
            @include span-columns(3);
            background-color: white;
            .forum-nav-browse-menu-wrapper,
            .forum-nav-header,
            .forum-nav-refine-bar,
            .forum-nav-thread-list,
            .forum-nav-thread-list-wrapper {
                display: block;
                width: 100%;
                float: left;
            }
            .forum-nav-header {
                padding: 1em 0.5em;
                position: relative;
                .forum-nav-browse,
                .forum-nav-search {
                    display: inline-block;
                }
                .forum-nav-browse {
                    .sr {
                        // TODO: tbd
                        display: none;
                    }
                    background: none;
                    border: 0;
                    float: left;
                }
                .forum-nav-search {
                    .sr {
                        // TODO: tbd
                        display: none;
                    }
                    position: absolute;
                    right: 1em;
                    .forum-nav-search-input {
                        position: absolute;
                        float: right;
                        right: 1.4em;
                        text-align: right;
                        width: 3em;
                        transition: 0.2s width ease-out;
                        &:focus {
                            transition: 0.2s width ease-in;
                            width: 14em;
                        }
                    }
                    .icon {
                        position: absolute;
                        right: 0;
                        line-height: 24px;
                        color: $yellow;
                    }
                    .forum-nav-search-input,
                    .icon {
                        display: inline-block;
                        float: right;
                    }
                }
            }
            .forum-nav-thread-list-wrapper {
                .forum-nav-refine-bar {
                    background-color: $soft-blue;
                    padding: 1em 0.5em;
                    .forum-nav-filter-main,
                    .forum-nav-sort {
                        display: inline-block;
                    }
                    .forum-nav-filter-main {
                        float: left;
                    }
                    .forum-nav-sort {
                        float: left;
                    }
                    .sr {
                        // TODO: tbd
                        display: none;
                    }
                    select {
                        background: none;
                        border: none;
                    }
                }
                .forum-nav-thread-list {
                    .forum-nav-thread,
                    .forum-nav-thread-link {
                        display: block;
                        width: 100%;
                        float: left;
                    }
                    .forum-nav-thread-link {
                        &.is-active {}
                        .sr {
                            // TODO: tbd
                            display: none;
                        }
                        .forum-nav-thread-labels {
                            // TODO: tbd
                            display: none;
                        }
                        .forum-nav-thread-title {
                            white-space: nowrap;
                        }
                        .forum-nav-thread-wrapper-0,
                        .forum-nav-thread-wrapper-2 {
                            @include span-columns(2);
                            padding: 1em;
                        }
                        .forum-nav-thread-wrapper-1 {
                            @include span-columns(8);
                            padding: 1em 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        .discussion-column {
            @include span-columns(9);
            background-color: white;
            padding: 2em;
            .discussion-article {
                .thread-wrapper {
                    .thread-responses-wrapper {
                        margin: 2em 0;
                        .response-count {
                            color: $blue;
                            font-weight: bold;
                        }
                        .add-response {
                            float: right;
                            &-btn {
                                @include edx-button($yellow);
                            }
                        }
                    }
                    .thread-responses-wrapper {
                        .js-response-list {
                            margin: 2em 0;
                        }
                    }
                    .thread-main-wrapper {
                        padding-bottom: 1em;
                        margin-bottom: 1em;
                        border-bottom: 1px solid $light-gray;
                    }
                    .wrapper-post-header {
                        .post-header-content {
                            .post-title {
                                margin-bottom: 0;
                            }
                            .posted-details {
                                color: $medium-gray;
                            }
                        }
                    }
                    .post-context {
                        color: $blue;
                        .group-visibility-label {
                            float: right;
                            display: inline;
                        }
                    }
                }
                .wrapper-post-header,
                .wrapper-response-header {
                    @include full-width-block;
                }
                .post-header-content,
                .response-header-content {
                    @include span-columns(10);
                }
                .post-header-actions,
                .response-header-actions {
                    @include span-columns(2);
                }
                .forum-response, .discussion-comment {
                    border: 1px solid $light-gray;
                    padding: 1em;
                    margin-bottom: 1em;
                }
                // still in discussion, but just about actions
                .comment-actions-list,
                .post-actions-list,
                .response-actions-list {
                    text-align: right;
                    .action-button {
                        &.action-vote {
                            .sr {
                                // TODO: tbd
                                display: none;
                            }
                        }
                        &.action-follow {
                            .sr {
                                // TODO: tbd
                                display: none;
                            }
                            //
                            .label-unchecked {
                                color: $gray;
                                display: inline;
                            }
                            .label-checked {
                                display: none;
                            }
                            .action-icon {
                                color: $gray;
                            }
                            //
                            &.is-checked {
                                .action-icon {
                                    color: $yellow;
                                }
                                .label-unchecked {
                                    display: none;
                                }
                                .label-checked {
                                    color: $yellow;
                                    display: inline;
                                }
                            }
                        }
                    }
                    .more-wrapper {
                        position: relative;
                        .actions-dropdown {
                            display: none;
                            position: absolute;
                            top: 1.5em;
                            right: 0;
                            background-color: white;
                            z-index: 1;
                            @include block-frame;
                            border-radius: $base-border-radius;
                            .actions-item a {
                                display: block;
                                line-height: 1em;
                                font-size: 0.9em;
                                padding: 0.7em 1.4em;
                                font-weight: normal;
                            }
                            &.is-expanded {
                                display: block;
                            }
                        }
                    }
                }
            }
            .reply-post-control {
                a {
                    @include edx-button($yellow);
                }
            }

            .comment-form {
              .sr {
                // TODO: tbd
                display: none;
              }
            }
            .comment-actions-list {
              float: right;
            }

            .posted-details {
              color: $blue;
            }
        }
    }
}
.wmd-panel {
  .wmd-preview-container {
    border: 1px solid $light-gray;
    padding: 2em 1em 1em 1em;
    margin-bottom: 1em;
    position: relative;
    .wmd-preview-label {
      position: absolute;
      left: 0;
      top: 0;
      padding: .5em;
      text-transform: uppercase;
      font-size: .7em;
      background: $light-gray;
      color: $gray;
    }
  }
  .sr {
    // TODO: tbd
    display: none;
  }
    min-width: 500px;
    width: 100%;
    .wmd-button-bar {
        width: 100%;
        background-color: $soft-blue;
    }
    .wmd-input {
        border: none;
        border-radius: 3px 3px 0 0;
        width: 100%;
        height: 150px;
        background-color: #e9e9e9;
        font-style: normal;
        font-size: 0.8em;
        padding: .8em;
        // font-family: Monaco, 'Lucida Console', monospace;
        line-height: 1.6em;
    }
    .wmd-input::-webkit-input-placeholder {
        color: #888;
    }
    .wmd-button-row {
        -webkit-transition: all 0.2s ease-out 0s;
        -moz-transition: all 0.2s ease-out 0s;
        transition: all 0.2s ease-out 0s;
        position: relative;
        overflow: hidden;
        margin: 10px 5px 5px;
        padding: 0;
        height: 20px;
    }
    .wmd-spacer {
        position: absolute;
        display: inline-block;
        margin-left: 14px;
        width: 1px;
        height: 20px;
        background-color: Silver;
        list-style: none;
    }
    .wmd-button {
        position: absolute;
        display: inline-block;
        padding-right: 3px;
        padding-left: 2px;
        width: 20px;
        height: 20px;
        background: none;
        list-style: none;
        cursor: pointer;
    }
    .wmd-button > span {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url("/static/images/wmd-buttons-transparent.png");
        background-position: 0 0;
        background-repeat: no-repeat;
    }
    .wmd-spacer1 {
        left: 50px;
    }
    .wmd-spacer2 {
        left: 175px;
    }
    .wmd-spacer3 {
        left: 300px;
    }
    .wmd-prompt-background {
        background-color: Black;
    }
    .wmd-prompt-dialog {
        background: #fbfbfb;
    }
    .wmd-prompt-dialog {
        padding: 20px;
    }
    .wmd-prompt-dialog > div {
        font-size: 0.8em;
        font-family: arial, helvetica, sans-serif;
    }
    .wmd-prompt-dialog b {
        font-size: 16px;
    }
    .wmd-prompt-dialog > form > input[type="text"] {
        border-radius: 3px;
        color: #333;
    }
    .wmd-prompt-dialog > form > input[type="button"] {
        border: 1px solid #888;
        font-size: 14px;
        font-family: "Open Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    }
    .wmd-prompt-dialog > form > input[type="file"] {
        margin-bottom: 18px;
    }
}
