.tc-wrapper {
  .video-wrapper {
    @include span-columns(9);

    .video-player {
      overflow: hidden;
      width: 100%;
      float: left;

      iframe {
        width: 100%;
      }

      & > * {
        float: left;
      }
    }
    .video-controls, .closed-captions {
      @include full-width-block;
      background-color: $dark-gray;
      .slider {
        background: darken($dark-gray, 10%);
        border: none;
        .ui-slider-range {
          background: $yellow;
        }
      }
    }

    .vcr {
      padding: .5em;
      display: block;
      float: left;
      .control.video_control {
        border: 0;
        color: $yellow;
        background-color: transparent;
      }
      .vidtime {
        color: $yellow;
        display: inline-block;
        margin: 0 2em;
      }
    }


    .secondary-controls {
      padding: .5em;
      display: block;
      float: right;
      .speeds.menu-container {
        position: relative;
        float: right;

        .control.speed-button {
          border: 0;
          color: $yellow;
          background-color: transparent;
          & > span {
            margin: 0 .2em;
          }
        }

        .video-speeds.menu {
          display: none;
        }

        &.is-opened {
          background-color: darken($dark-gray, 5%);
          .video-speeds.menu {
            display: block;
            position: absolute;
            bottom: 1.5em;
            right: 0;
            left: 0;
            padding-bottom: 1em;

            background-color: darken($dark-gray, 5%);
            .control.speed-option {
              width: 100%;
              border: 0;
              text-align: center;
              padding: .5em 0;
              color: $yellow;
              background-color: transparent;
            }
          }
        }
      }

      .volume {
        position: relative;
        float: right;

        .control {
          width: 1.5em;
          border: 0;
          color: $yellow;
          background-color: transparent;
        }

        .volume-slider-container {
          display: none;

          .volume-slider {
            background: none;
            border: none;
            width: 100%;
            .ui-slider-handle {
              width: 1.9em;
            }
            .ui-slider-range {
              width: 100%;
            }
          }
        }

        &.is-opened {
          background-color: darken($dark-gray, 5%);
          .volume-slider-container {
            display: block;
            position: absolute;
            bottom: 1.5em;
            padding-bottom: 1em;
            right: 0;
            left: 0;
            background: darken($dark-gray, 5%);
          }
        }
      }

      .control.quality-control {
        position: relative;
        float: right;
        border: 0;
        color: $yellow;
        background-color: transparent;
      }

      .control.add-fullscreen {
        position: relative;
        float: right;
        border: 0;
        color: $yellow;
        background-color: transparent;
      }

      .grouped-controls {
        position: relative;
        float: right;
        .control {
          border: 0;
          color: $yellow;
          background-color: transparent;
        }
      }

      // TODO: tbd
      // display: none;
      .sr {
        display: none;
      }
    }
  }

  .closed-captions {
    display: none !important;
    text-align: center;
    font-size: 1.5em;
    color: yellow;
    text-shadow: 0 0 1px black;
    font-weight: bold;

    // &.is-visible {
    //   display: block;
    // }
  }

  .subtitles {
    overflow: hidden;
    @include span-columns(3);
    li[role="link"] {
      display: none;
      &.current {
        display: block;
      }
    }
  }
}

.wrapper-downloads {
  // TODO: tbd
  display: none;
}
