.u-field-account_privacy {
  .u-field-value-display {
    display: none;
  }
}

$u-field-height: 2.5em;

.u-field {
  @include row;

  .sr {
    display: none;
  }
  vertical-align: middle;

  button {
    background-color: transparent;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-message-help {
    color: $medium-gray;
    line-height: normal;
    float: none;
  }
  &.u-field-username {
    margin: auto;
  }

  // following only applies for in-place editables
  &.editable-toggle {
    max-width: em(300);
    margin: $base-margin 0;
    padding: 0 $small-margin;
    line-height: $u-field-height;

    input, select {
      width: 100%;
      display: inline;
      background-color: transparent;
      height: $u-field-height;
      line-height: $u-field-height;
    }

    .u-field-message {
      line-height: $u-field-height;
      float: right;
    }

    &.mode-display, &.mode-placeholder {
      input, select {
        display: none;
      }
    }

    &.mode-edit {
      .u-field-value-display {
        display: none;
      }
    }
    .u-field-icon {
      float: left;
      line-height: $u-field-height;
    }

    .u-field-value {
      display: inline;
      // line-height: $u-field-height;
      line-height: 1;
    }
  }
  &.u-field-textarea {
    max-width: 100%;
    cursor: pointer;

    &.mode-placeholder {
      border: 6px dotted $light-gray;
      border-radius: 6px;
      color: $medium-gray;
    }

    .u-field-header {
      text-align: center;
      .placeholder {
        display: none;
      }
      .u-field-message {
        float: none;
      }
    }

    .u-field-value {
      text-align: center;
      line-height: $base-spacing;
      display: inherit;
      a {
        color: inherit;
      }
    }

    &:hover {
      color: $dark-gray;
    }
  }
}

.wrapper-profile-field-account-privacy {
  @include row;
  margin: $base-margin 0;
}

.wrapper-profile-sections {
  .wrapper-profile-section-one {
    @include span-columns(3);
  }

  .page-content-main {
    @include span-columns(9);
  }

  // .profile-image-field {
  //   @include span-columns(2);
  // }
  //
  // .profile-section-one-fields {
  //   @include span-columns(10);
  // }

  // @include media($mobile-l) {
  //   .profile-image-field {
  //     @include span-columns(12);
  //   }
  //
  //   .profile-section-one-fields {
  //     @include span-columns(12);
  //     @include omega;
  //   }
  // }

  .profile-section-one-fields {
    .u-field {
      &.mode-display, &.mode-placeholder {
        background-color: $light-gray;
      }

      &.mode-edit, &:hover {
        background-color: $soft-blue;
      }

      input, select {
        width: em(200);
      }
    }
    .u-field.u-field-readonly:hover {
      background-color: transparent;
    }
  }

  .profile-image-field {
    text-align: center;
    .wrapper-profile-section-one {
      @include row;
    }

    .u-field-image {
      position: relative;
      .image-wrapper {
        img {
          width: em(120);
          max-height: em(120);
        }
        &:hover {
          .u-field-upload-button {
            display: block;
          }
        }
      }
      .u-field-actions {
        .u-field-upload-button {
          display: none;
          background: rgba(0, 0, 0, .6);
          color: $white;
          position: absolute;
          top: 0;
          left: 0;
          width: em(120);
          height: em(120);
          line-height: $base-line-height;
          text-align: center;
          .upload-button-icon {
            display: block;
            font-size: 3em;
          }
          .upload-button-icon {
            display: block;
            font-weight: bold;
          }
          .upload-button-input {
            display: none;
          }
        }

      }
    }
  }
}
