@mixin base-button () {
  display: block;
  border: none;
  border-radius: $base-border-radius;
  cursor: pointer;
  line-height: $base-line-height;
  padding: .5em 1em;
  text: {
    align: center;
    transform: uppercase;
  }
  font: {
    size: $base-font-size;
    weight: normal;
    family: $base-font-family;
  }
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@mixin edx-button($color) {
  @include base-button;
  background-color: $color;
  color: $white;
  transition: .1s ease-out;

  &:hover {
    background-color: lighten($color, 10%);
  }
}

@mixin edx-flat-button() {
  @include base-button;
  background-color: transparent;
  color: $medium-gray;

  transition: .1s ease-out;

  &.active,
  &.active-section {
    background-color: $yellow;
    color: $white;
    &:hover {
      background-color: $yellow;
    }
  }

  &:hover {
    background-color: lighten($yellow, 20%);
    color: $white;
  }
}

@mixin course-nav-button {
  background-color: $soft-blue;
  border: 0;
  width: 3.5em;
  height: 3.5em;
  display: inline-block;
  float: left;
  .sr {
    display: none;
  }
  .sequence-tooltip {
    // TODO: tbd
    display: none;
  }

  & .fa-chevron-prev:before {
    content: "\f0d9";
    font-size: 2em;
  }
  & .fa-chevron-next:before {
    content: "\f0da";
    font-size: 2em;
  }

  & .fa.seq_problem:before {
    // TODO: tbd
    content: "\f0ca";
  }
  & .fa.seq_video:before {
    // TODO: tbd
    content: "\f008";
  }
  & .fa.seq_other:before {
    // TODO: tbd
    content: "\f129";
  }


  &:hover, &.active {
    background-color: darken($soft-blue, 10%);
    cursor: pointer;
  }
}
