
// Typography
$base-font-family: 'Open Sans';
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: #ffffff;
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$gray-input: #f2f2f2;
$slightly-gray: #fbfbfb;
$light-gray: #dddddd;
$light-gray-link: #a1a1a1;
$dark-gray: #323232;
$yellow: #efa82c;
$creme: #fbfaf8;
$soft-blue: #e5f2fa;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $light-gray-link;
$header-background: $creme;
$header-border: $light-gray;
$input-background: $gray-input;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// State colors
$state-success-text: #3c763d !default;
$state-success-bg: #dff0d8 !default;
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%) !default;
$state-info-text: #31708f !default;
$state-info-bg: #d9edf7 !default;
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%) !default;
$state-warning-text: #8a6d3b !default;
$state-warning-bg: #fcf8e3 !default;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 5%) !default;
$state-danger-text: #a94442 !default;
$state-danger-bg: #f2dede !default;
$state-danger-border: darken(adjust-hue($state-danger-bg, -10), 5%) !default;
$alert-padding: 15px !default;
$alert-border-radius: $base-border-radius !default;
$alert-link-font-weight: bold !default;
