.header-global-new, .header-global {
  background-color: $header-background;
  box-shadow: 0 1px 1px $header-border;
  border-bottom: $header-border 1px solid;
  margin-bottom: 1.5em;
}

@mixin header-item-base($float: left) {
  line-height: 45px;
  display: inline-block;
  margin: 1em .3em;
  font-weight: 500;
  float: $float;
}

.wrapper-header {
  @include responsive-outer-container();

  // makes everything float from left corner and display in one line
  .list-inline, .nav-account-management {
    display: inline-block;
    float: left;
  }

  .logo {
    @include header-item-base;
    font-size: 1em;

    a {
      float: left;
      line-height: 0;
    }
  }

  .nav-global {
    @include header-item-base;
  }

  .course-header {
    @include header-item-base;
    border-left: 1px solid $light-gray;
    padding: 0 1em;
    font-size: 1em;

    .provider, .course-name {
      font-weight: bold;
    }
    .course-number {
      font-weight: normal;
    }
  }

  .nav-account-management {
    .item {
      @include header-item-base;
      .btn.btn-login, .btn-neutral.btn-register {
        padding: 0 1em;
        text-transform: uppercase;
        color: $medium-gray;
      }
    }
  }

  .nav-main {
    .item {
      @include header-item-base;
      padding: 0 1em;
      text-transform: uppercase;
      color: $medium-gray;
      a {
        color: $medium-gray;
      }
    }
  }

  .user {
    @include header-item-base(right);

    position: relative;

    .primary {
      display: inline-block;
      float: left;
      white-space: nowrap;
      .sr {
        // TODO: tbd
        display: none;
      }
    }

    .settings-language-form, select {
      display: block;
    }

    .user-link {
      @include edx-button($yellow);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      float: left;
      border-right: 1px solid darken($yellow, 10%);

      .label-username {
        display: inline-block;
      }


      .user-image-frame {
        // TODO: tbd
        display: none;
      }
    }

    .dropdown {
      @include edx-button($yellow);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      float: left;

      .fa {
        margin-top: -1px;
        font-size: 1.5em;
        line-height: 0em;
      }

      .sr {
        // TODO: tbd
        display: none;
      }
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      top: 45px;
      right: 0;
      background-color: white;
      z-index: 1;
      @include block-frame;

      border-radius: $base-border-radius;

      .item a {
        display: block;
        line-height: 1em;
        font-size: 0.9em;
        padding: 0.9em 1.4em;
        font-weight: normal;
      }

      &.expanded {
        display: block;
      }
    }

  }
  .doc-link {
    @include header-item-base(right);
    @include edx-button($medium-gray);
  }
}

// specific overrides for discussion
.discussion {
  .wrapper-header {

    .wrapper-user-menu {
      @include header-item-base(right);
      z-index: 1;
      position: relative;

      .menu-title {
        @include edx-button($yellow);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        float: left;
        border-right: 1px solid darken($yellow, 10%);

        .sr-only {
          // TODO: tbd
          display: none;
        }
        .menu-image {
          // TODO: tbd
          display: none;
        }
      }
    }

    .menu-button {
      @include edx-button($yellow);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      float: left;

      .fa {
        margin-top: -1px;
        font-size: 1.5em;
        line-height: 0em;
      }
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      top: 45px;
      right: 0;
      background-color: white;
      @include block-frame;

      border-radius: $base-border-radius;

      .item a {
        display: block;
        line-height: 1em;
        font-size: 0.9em;
        padding: 0.9em 1.4em;
        font-weight: normal;
      }

      &.is-visible {
        display: block;
      }
    }
  }
}
