$menu-breakpoint: $tablet;

.header-global-new, .header-global, .header-global {
  background-color: $header-background;
  box-shadow: 0 1px 1px $header-border;
  border-bottom: $header-border 1px solid;
  margin-bottom: $big-margin;
}

.header-global-new, .header-global {

  .wrapper-header {
    @include responsive-outer-container();
    width: 100%;
    display: block;
    overflow: hidden;
    margin-top: $base-margin;
    margin-bottom: $base-margin;
  }

  .logo,
  .course-header {
    float: left;
  }

  .nav-global,
  .nav-courseware {
    float: left;
  }

  .wrapper-user-menu,
  .user {
    float: right;
  }

  .logo,
  .course-header,
  .nav-global,
  .nav-courseware,
  .wrapper-user-menu,
  .collapse-navigation,
  .user {
    display: block;
    line-height: em(45);
    vertical-align: middle;
    margin: 0 $base-margin;

    a {
      color: $medium-gray;
    }
  }

  .logo {
    margin-left: 0;
  }

  .collapse-navigation {
    margin-right: 0;
  }

  .course-header {
    max-width: 40%;

    width: auto;
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // responsive
  .nav-global,
  .nav-courseware,
  .wrapper-user-menu,
  .user {
    @include media($menu-breakpoint) {
        float: none;
        text-align: center;
        margin-bottom: 0 0 $small-margin;
        .primary {
          float: none;
        }
    }
  }

  .course-header {
    @include media($menu-breakpoint) {
      float: none;
      max-width: 100%;
    }
  }

  .header-navigation {
    float: none;

    @include media($menu-breakpoint) {
      display: none;
      width: 100%;
      float: left;

      &.expanded {
        display: block;
      }
    }
  }
}
