@mixin edx-button($color) {
  display: block;
  background-color: $color;
  color: $white;

  border: none;
  border-radius: $base-border-radius;
  cursor: pointer;
  line-height: 1;
  padding: .75em 1em;

  text: {
    align: center;
    transform: uppercase;
  }
  font: {
    size: $base-font-size;
    weight: normal;
    family: $base-font-family;
  }
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  transition: .1s ease-out;

  &:hover {
    background-color: lighten($color, 10%);
  }
}

@mixin edx-flat-button() {
  display: block;
  background-color: transparent;
  color: $medium-gray;

  border: none;
  border-radius: $base-border-radius;
  cursor: pointer;
  line-height: 1;
  padding: .75em 1em;

  text: {
    align: center;
    transform: uppercase;
  }
  font: {
    size: $base-font-size;
    weight: normal;
    family: $base-font-family;
  }
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  transition: .1s ease-out;

  &.active {
    background-color: $yellow;
    color: $white;
    &:hover {
      background-color: $yellow;
    }
  }

  &:hover {
    background-color: lighten($yellow, 20%);
    color: $white;
  }
}
