@mixin edx-button($color) {
  background-color: $color;
  color: $white;

  border: none;
  border-radius: $base-border-radius;
  cursor: pointer;
  line-height: 1;
  padding: 0.75em 1em;

  text: {
    align: center;
    transform: uppercase;
  }
  font: {
    size: $base-font-size;
    weight: normal;
    family: $base-font-family;
  }
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  // @extend .z-depth-1;
  transition: .1s ease-out;

  &:hover {
    background-color: lighten($color, 10%);
    // @extend .z-depth-2;
  }
}
