// openedx form field
input, textarea, select {
  border: none;
  border-radius: $base-border-radius;

  background-color: $input-background;
  padding: .7em 1em;
  font-size: 1em;
  width: 100%;
}

select {
  height: 2.5em;
}

@mixin form-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
  margin: .3em 0;
}

.form-field, .u-field, .control-group {
  @include row();
  margin: 2em 0;

  input, label, textarea, select, .field-label {
    display: block;
  }

  label, .field-label {
    @include form-label;
  }

  textarea {
    height: 6em;
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  display: inline;
  vertical-align: baseline;
  &+label {
    margin-left: $small-spacing / 2;
    display: inline;
    vertical-align: baseline;
  }
}

.tip, .u-field-message-help, .u-field-message-notification, .help-block {
  color: $light-gray-link;
  font-size: .8em;
}
