.modal {
  display: none;
  background: rgba(0,0,0,0.6);
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  max-width: 100%;
  padding: 0;

  .inner-wrapper {
    background-color: white;
    margin: 5% auto;
    max-height: 90%;
    width: 75%;
    overflow: auto;
    padding: $big-margin;

    .sr {
      display: none;
    }
    .close-modal {
      float: right;
      @include edx-button($bb);
    }
    .submit input,
    .submit button {
      @include edx-button($bb);
      margin: $base-margin 0;
    }
  }
}

#unenroll-modal .inner-wrapper,
#email-settings-modal .inner-wrapper {

  width: 30%;

  @include media($tablet) {
    width: 50%;
  }

  @include media($mobile-l) {
    width: 90%;
  }
}

.wmd-prompt-background {
  background: rgba(0, 0, 0, .5);
}

.wmd-prompt-dialog {
  background: white;
  padding: $base-spacing;
  .form-actions {
    margin-top: $small-spacing;
    .btn {
      @include edx-button($bb);
      @include span-columns(6 of 12);
    }
  }
}
