@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");
@import url(normalize.css);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #323232;
  font-family: "Rubik";
  font-size: 1em;
  line-height: 1.5;
  background-color: #fbfbfb;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik";
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #a1a1a1;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #7b7b7b; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

.hidden, .course-info .course-sidebar {
  display: none; }

.nav-skip {
  display: none; }

:focus {
  outline: none; }

a:hover, a:active {
  cursor: pointer;
  color: #6e6e6e; }

.z-depth-0 {
  box-shadow: none !important; }

.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); }

.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.z-depth-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }

.z-depth-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3); }

.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); }

h2 .text {
  color: #0a4f7d;
  text-transform: uppercase; }

.content-wrapper {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .content-wrapper::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (min-width: 62.5em) {
    .content-wrapper {
      padding: 0 10px; } }
  @media screen and (max-width: 62.4375em) {
    .content-wrapper {
      padding: 0 10px; } }
  @media screen and (max-width: 20em) {
    .content-wrapper {
      padding: 0 10px; } }

.form-field {
  display: block;
  margin: 2em 0; }
  .form-field::after {
    clear: both;
    content: "";
    display: block; }
  .form-field input, .form-field label, .form-field textarea, .form-field select {
    display: block; }
  .form-field label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    margin: .3em 0; }
  .form-field input, .form-field textarea, .form-field select {
    border: none;
    border-radius: 3px;
    background-color: #f2f2f2;
    padding: .7em 1em;
    font-size: 1em;
    width: 100%; }
  .form-field input[type="checkbox"] {
    width: auto;
    position: absolute;
    font-size: .8em;
    vertical-align: middle; }
    .form-field input[type="checkbox"] + label {
      text-indent: 2em; }
  .form-field select {
    height: 2.5em; }
  .form-field textarea {
    height: 6em; }

.tip {
  color: #a1a1a1;
  font-size: .8em; }

.login-register {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .login-register::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (min-width: 62.5em) {
    .login-register {
      padding: 0 10px; } }
  @media screen and (max-width: 62.4375em) {
    .login-register {
      padding: 0 10px; } }
  @media screen and (max-width: 20em) {
    .login-register {
      padding: 0 10px; } }

.login-register .form-wrapper .login-form, .login-register .form-wrapper .register-form, .login-register .form-wrapper .toggle-form {
  margin-top: 3em; }
  @media screen and (min-width: 62.5em) {
    .login-register .form-wrapper .login-form, .login-register .form-wrapper .register-form, .login-register .form-wrapper .toggle-form {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .login-register .form-wrapper .login-form:last-child, .login-register .form-wrapper .register-form:last-child, .login-register .form-wrapper .toggle-form:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 62.4375em) {
    .login-register .form-wrapper .login-form, .login-register .form-wrapper .register-form, .login-register .form-wrapper .toggle-form {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .login-register .form-wrapper .login-form:last-child, .login-register .form-wrapper .register-form:last-child, .login-register .form-wrapper .toggle-form:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 20em) {
    .login-register .form-wrapper .login-form, .login-register .form-wrapper .register-form, .login-register .form-wrapper .toggle-form {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .login-register .form-wrapper .login-form:last-child, .login-register .form-wrapper .register-form:last-child, .login-register .form-wrapper .toggle-form:last-child {
        margin-right: 0; } }

.login-register .form-wrapper .status.submission-error {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b; }
  .login-register .form-wrapper .status.submission-error h4 {
    margin-top: 0;
    color: inherit; }
  .login-register .form-wrapper .status.submission-error .alert-link {
    font-weight: normal; }
  .login-register .form-wrapper .status.submission-error > ul,
  .login-register .form-wrapper .status.submission-error > p {
    margin-bottom: 0; }
  .login-register .form-wrapper .status.submission-error > p + p {
    margin-top: 5px; }
  .login-register .form-wrapper .status.submission-error hr {
    border-top-color: #f7e1b5; }
  .login-register .form-wrapper .status.submission-error .alert-link {
    color: #66512c; }

.login-register .form-wrapper .login-form, .login-register .form-wrapper .register-form {
  border-radius: 2px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  padding: 20px; }
  .login-register .form-wrapper .login-form .section-title, .login-register .form-wrapper .register-form .section-title {
    position: relative; }
    .login-register .form-wrapper .login-form .section-title h2, .login-register .form-wrapper .register-form .section-title h2 {
      position: absolute;
      top: -30px; }
      .login-register .form-wrapper .login-form .section-title h2 .text, .login-register .form-wrapper .register-form .section-title h2 .text {
        background-color: #323232;
        color: #ffffff;
        padding: 9px 15px;
        border-radius: 3px;
        font-size: 1em;
        font-weight: lighter; }
  .login-register .form-wrapper .login-form p.sr, .login-register .form-wrapper .register-form p.sr {
    display: none; }
  .login-register .form-wrapper .login-form button.action.action-primary, .login-register .form-wrapper .register-form button.action.action-primary {
    display: block;
    background-color: #efa82c;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    line-height: 1;
    padding: .75em 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
    font-family: "Rubik";
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    transition: .1s ease-out; }
    .login-register .form-wrapper .login-form button.action.action-primary:hover, .login-register .form-wrapper .register-form button.action.action-primary:hover {
      background-color: #f3bc5b; }
  .login-register .form-wrapper .login-form button[type="submit"] + p.note, .login-register .form-wrapper .register-form button[type="submit"] + p.note {
    float: right;
    line-height: 40px;
    color: #a1a1a1; }

.login-register .form-wrapper .toggle-form .section-title {
  margin-bottom: 30px; }

.login-register .form-wrapper .toggle-form h2 .text {
  font-size: 1em;
  font-weight: bold; }

.login-register .form-wrapper .toggle-form .nav-btn.form-toggle {
  display: block;
  background-color: #323232;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  line-height: 1;
  padding: .75em 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: normal;
  font-family: "Rubik";
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: .1s ease-out; }
  .login-register .form-wrapper .toggle-form .nav-btn.form-toggle:hover {
    background-color: #4c4c4c; }

.home .courses-container .courses-listing .courses-listing-item .course {
  display: block;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin-top: -1px;
  padding: 2em 0;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  box-sizing: border-box; }
  .home .courses-container .courses-listing .courses-listing-item .course::after {
    clear: both;
    content: "";
    display: block; }
  .home .courses-container .courses-listing .courses-listing-item .course .course-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .home .courses-container .courses-listing .courses-listing-item .course .course-image:last-child {
      margin-right: 0; }
  .home .courses-container .courses-listing .courses-listing-item .course .course-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .home .courses-container .courses-listing .courses-listing-item .course .course-info:last-child {
      margin-right: 0; }
  .home .courses-container .courses-listing .courses-listing-item .course .sr {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .home .courses-container .courses-listing .courses-listing-item .course .sr:last-child {
      margin-right: 0; }
  .home .courses-container .courses-listing .courses-listing-item .course .learn-more {
    font-size: 1em;
    font-weight: bold;
    display: block;
    background-color: #efa82c;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    line-height: 1;
    padding: .75em 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
    font-family: "Rubik";
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    transition: .1s ease-out; }
    .home .courses-container .courses-listing .courses-listing-item .course .learn-more:hover {
      background-color: #f3bc5b; }
  .home .courses-container .courses-listing .courses-listing-item .course .course-name > * {
    display: block; }
  .home .courses-container .courses-listing .courses-listing-item .course .course-name .course-organization {
    text-transform: uppercase;
    color: #323232;
    font-size: .7em;
    margin-bottom: 1em; }
  .home .courses-container .courses-listing .courses-listing-item .course .course-name .course-code, .home .courses-container .courses-listing .courses-listing-item .course .course-name .course-title {
    font-size: 2em;
    font-weight: normal; }

.course-info .intro .register {
  display: block;
  background-color: #efa82c;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  line-height: 1;
  padding: .75em 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: normal;
  font-family: "Rubik";
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: .1s ease-out; }
  .course-info .intro .register:hover {
    background-color: #f3bc5b; }

.course-info .details .programm {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .course-info .details .programm:last-child {
    margin-right: 0; }

.course-info .details .about, .course-info .details .course-staff {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .course-info .details .about:last-child, .course-info .details .course-staff:last-child {
    margin-right: 0; }

.view-in-course nav.wrapper-course-material {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 2em; }
  .view-in-course nav.wrapper-course-material .course-material, .view-in-course nav.wrapper-course-material .tabs.course-tabs {
    display: block;
    float: left;
    width: 100%; }
  .view-in-course nav.wrapper-course-material .tab {
    display: inline-block;
    float: left;
    padding: 0 .5em; }
    .view-in-course nav.wrapper-course-material .tab:first-child {
      padding-left: 0; }
    .view-in-course nav.wrapper-course-material .tab:last-child {
      padding-right: 0; }
    .view-in-course nav.wrapper-course-material .tab a {
      display: block;
      background-color: transparent;
      color: #999;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      line-height: 1;
      padding: .75em 1em;
      text-align: center;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: normal;
      font-family: "Rubik";
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      transition: .1s ease-out; }
      .view-in-course nav.wrapper-course-material .tab a.active {
        background-color: #efa82c;
        color: #ffffff; }
        .view-in-course nav.wrapper-course-material .tab a.active:hover {
          background-color: #efa82c; }
      .view-in-course nav.wrapper-course-material .tab a:hover {
        background-color: #f6cf8b;
        color: #ffffff; }
    .view-in-course nav.wrapper-course-material .tab .sr {
      display: none; }

.view-in-course main#main {
  display: block;
  float: left;
  width: 100%; }

.view-in-course .home, .view-in-course article {
  border-radius: 2px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  margin-bottom: 2em;
  padding: 10px; }

.header-global-new, .header-global {
  background-color: #fbfaf8;
  box-shadow: 0 1px 1px #dddddd;
  border-bottom: #dddddd 1px solid;
  margin-bottom: 1.5em; }

.wrapper-header {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  .wrapper-header::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (min-width: 62.5em) {
    .wrapper-header {
      padding: 0 10px; } }
  @media screen and (max-width: 62.4375em) {
    .wrapper-header {
      padding: 0 10px; } }
  @media screen and (max-width: 20em) {
    .wrapper-header {
      padding: 0 10px; } }
  .wrapper-header .list-inline, .wrapper-header .nav-account-management {
    display: inline-block;
    float: left; }
  .wrapper-header .logo {
    line-height: 45px;
    display: inline-block;
    margin: 1em .3em;
    font-weight: 500;
    float: left; }
    .wrapper-header .logo a {
      float: left;
      line-height: 0; }
  .wrapper-header .course-header {
    line-height: 45px;
    display: inline-block;
    margin: 1em .3em;
    font-weight: 500;
    float: left;
    border-left: 1px solid #dddddd;
    padding: 0 1em;
    color: #999; }
    .wrapper-header .course-header .provider, .wrapper-header .course-header .course-name {
      font-weight: 500; }
    .wrapper-header .course-header .course-number {
      font-weight: normal; }
  .wrapper-header .nav-account-management .item {
    line-height: 45px;
    display: inline-block;
    margin: 1em .3em;
    font-weight: 500;
    float: left; }
    .wrapper-header .nav-account-management .item .btn.btn-login, .wrapper-header .nav-account-management .item .btn-neutral.btn-register {
      padding: 0 1em;
      text-transform: uppercase;
      color: #a1a1a1; }
  .wrapper-header .user {
    line-height: 45px;
    display: inline-block;
    margin: 1em .3em;
    font-weight: 500;
    float: right;
    position: relative; }
    .wrapper-header .user .primary {
      display: inline-block;
      float: left;
      white-space: nowrap; }
    .wrapper-header .user .user-link {
      display: block;
      background-color: #efa82c;
      color: #ffffff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      line-height: 1;
      padding: .75em 1em;
      text-align: center;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: normal;
      font-family: "Rubik";
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      transition: .1s ease-out;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      float: left;
      border-right: 1px solid #d88f10; }
      .wrapper-header .user .user-link:hover {
        background-color: #f3bc5b; }
      .wrapper-header .user .user-link .label-username {
        display: inline-block; }
      .wrapper-header .user .user-link .sr {
        display: none; }
      .wrapper-header .user .user-link .user-image-frame {
        display: none; }
    .wrapper-header .user .dropdown {
      display: block;
      background-color: #efa82c;
      color: #ffffff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      line-height: 1;
      padding: .75em 1em;
      text-align: center;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: normal;
      font-family: "Rubik";
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      transition: .1s ease-out;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      float: left; }
      .wrapper-header .user .dropdown:hover {
        background-color: #f3bc5b; }
      .wrapper-header .user .dropdown .fa {
        margin-top: -1px;
        font-size: 1.5em;
        line-height: 0em; }
      .wrapper-header .user .dropdown .sr {
        display: none; }
    .wrapper-header .user .dropdown-menu {
      display: none;
      position: absolute;
      top: 45px;
      right: 0;
      background-color: white;
      border-radius: 2px;
      border: 1px solid #dddddd;
      border-radius: 3px; }
      .wrapper-header .user .dropdown-menu .item a {
        display: block;
        line-height: 1em;
        font-size: 0.9em;
        padding: 0.9em 1.4em;
        font-weight: normal; }
      .wrapper-header .user .dropdown-menu.expanded {
        display: block; }
  .wrapper-header .doc-link {
    line-height: 45px;
    display: inline-block;
    margin: 1em .3em;
    font-weight: 500;
    float: right;
    display: block;
    background-color: #999;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    line-height: 1;
    padding: .75em 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: normal;
    font-family: "Rubik";
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    transition: .1s ease-out; }
    .wrapper-header .doc-link:hover {
      background-color: #b3b3b3; }

.wrapper-footer {
  background-color: #323232;
  color: #ffffff;
  padding: 50px 0; }
  .wrapper-footer .container {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto; }
    .wrapper-footer .container::after {
      clear: both;
      content: "";
      display: block; }
    @media screen and (min-width: 62.5em) {
      .wrapper-footer .container {
        padding: 0 10px; } }
    @media screen and (max-width: 62.4375em) {
      .wrapper-footer .container {
        padding: 0 10px; } }
    @media screen and (max-width: 20em) {
      .wrapper-footer .container {
        padding: 0 10px; } }
  .wrapper-footer .col {
    margin: 0;
    box-sizing: border-box; }
    @media screen and (min-width: 62.5em) {
      .wrapper-footer .col {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        .wrapper-footer .col:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 62.4375em) {
      .wrapper-footer .col {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        .wrapper-footer .col:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 20em) {
      .wrapper-footer .col {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .wrapper-footer .col:last-child {
          margin-right: 0; } }
    .wrapper-footer .col .footer_logo {
      width: 100px;
      display: block;
      margin: 0 0 20px; }
      .wrapper-footer .col .footer_logo + p {
        margin-top: 20px; }
    .wrapper-footer .col p, .wrapper-footer .col li {
      font-size: 12px;
      line-height: 17px;
      color: #eee;
      margin-top: 0; }
    .wrapper-footer .col ul {
      margin: 8px 0;
      padding: 0;
      display: block; }
      .wrapper-footer .col ul li {
        margin: 0 0 0 10px;
        padding: 0;
        display: block; }
        .wrapper-footer .col ul li + li {
          margin-top: 8px; }
      .wrapper-footer .col ul + p {
        margin-top: 17px; }
    .wrapper-footer .col a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
      .wrapper-footer .col a:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 0.8); }
  .wrapper-footer .footer_menu_links {
    margin-top: 0 !important; }
    .wrapper-footer .footer_menu_links li {
      margin-left: 0 !important; }
      .wrapper-footer .footer_menu_links li.login {
        margin-top: 16px; }

@media screen and (max-width: 20em) {
  .mh {
    display: none !important; } }
