body {
  margin: 0;
  background-color: #fbfbfb;
  font-family: 'Exo 2', sans-serif;
}

a {
  text-decoration: none;
  color: #a1a1a1;
  &:hover {
    cursor: pointer;
  }
}

:focus {
    outline: none;
}

.hidden {
  display: none;
}

h2 {
  font-size: 2em;
  color: #0a4f7d;
  // margin: 20px 0;
  text-transform: uppercase;
}

.form-field {
  // @include row();

  label {
    // @include row();
  }
  input {
    // @include row();
    border: none;
    border-radius: 3px;
  }
}
