@import "grid/media";

.login-register {
  @include responsive-outer-container();
}

.login-register .form-wrapper {
  // make all these blocks responsive
  .login-form, .register-form, .toggle-form, .password-reset-form {
    @include media($desktop) {
      @include span-columns(6 of 12);
    }

    @include media($tablet) {
      @include span-columns(6 of 12);
    }

    @include media($mobile-l) {
      @include span-columns(12 of 12);
    }

    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }

  .login-form {
    .login-providers {
      border-top: $base-border;
      padding-top: $base-spacing;
      margin-top: $base-spacing;
      @include row;

      .section-title {
        display: none;
      }
    }
  }

  .register-form {
    .login-providers {
      border-bottom: $base-border;
      padding-bottom: $base-spacing;
      margin-bottom: $base-spacing;
      @include row;

      .button {
        margin-top: $base-spacing;
      }

      &+.section-title {
        display: none;
      }
    }
  }

  .login-form, .register-form, .password-reset-form {
    @include block-frame;
    background-color: $white;
    padding: $base-spacing;

    .action-label {
      margin: 2em 0;
    }

    .section-title {
      position: relative;
      // h2 {
      //   position: absolute;
      //   top: -30px;
      //   font: {
      //     size: 1em;
      //     weight: lighter;
      //   }
      //   .text {
      //     background-color: $gray;
      //     color: $white;
      //     padding: 9px 15px;
      //     border-radius: $base-border-radius;
      //
      //   }
      // }
    }

    .login-providers {
      .button {
        @include edx-button($bb);
        .sr {
          display: none;
        }
      }
    }

    .button {
      @include span-columns(4 of 12);
    }

    .button, .action {
      @include media($tablet) {
        width: 100%;
        white-space: normal;
        margin: $small-spacing/2 0;
      }
    }

    .action {
      @include edx-button($bb);
      float: none;
    }

    p.sr {
      display: none;
    }

    button[type="submit"]+p.note {
      float: right;
      line-height: 40px;
      color: $light-gray-link;;
    }
  }

  .toggle-form {
    padding: $base-spacing;
    .section-title {
      margin-bottom: $base-spacing*2;
    }
    h2 {
      .text {
        font: {
          size: 1em;
          weight: bold;
        }
      }
    }

    .nav-btn.form-toggle {
      @include edx-button($bb);
      @include media($tablet) {
        width: 100%;
        white-space: normal;
        margin: $small-spacing/2 0;
      }
    }

  }
}
