@mixin button($color) {
  background-color: $color;
  text-transform: uppercase;
  color: white;
  border-radius: 2px;
  border: none;
  padding: 9px 15px;
  font: {
    size: 17px;
    weight: lighter;
  }
  &:hover {
    cursor: pointer;
  }
}

.login-register {
  @include outer-container();
  position: relative;
}

.login-register .form-wrapper {
  .login-form, .register-form {
    @include span-columns(6 of 12);
    margin-top: 30px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 20px 20px;

    .section-title.lines {
      position: absolute;
      top: 20px;
      h2 {
        .text {
          background-color: #323232;
          color: white;
          padding: 9px 15px;
          border-radius: 2px;
          font: {
            size: 17px;
            weight: lighter;
          }
        }
      }
    }

    p.sr {
      display: none;
    }

    .form-field {
      @include row();
      margin: 20px 0;
      font-size: 1em;

      .tip.tip-input {
        color: #a1a1a1;
      }
      & > * {
        display: block;
        line-height: 2em;
        font-size: 0.8em;
      }
      & > input, & > textarea {
        background-color: #f2f2f2;
        padding: 5px 12px;
        font-size: 1em;
        width: 100%;
      }
      & > label {
        text-transform: uppercase;
        font-weight: bold;
      }

      &.checkbox-remember {
        & > * {
          display: inline-block;
          width: auto;
          vertical-align: middle;
        }

        & > label {
          text-transform: none;
          font-weight: normal;
        }

        & > input {
          font-size: 0.8em;
        }
      }
    }

    button.action {
      &.action-primary {
        @include button(#efa82c);
      }
    }
  }

  .toggle-form {
    @include span-columns(6 of 12);
    margin-top: 30px;

    .section-title {
      margin-bottom: 30px;
    }
    h2 {
      .text {
        font: {
          size: 17px;
          weight: bold;
        }
      }
    }

    .nav-btn.form-toggle {
      @include button(#323232);
    }

  }
}
