.view-in-course, .discussion {
  .post-field.editor,
  .comment-body,
  .reply-body {
    overflow-x: scroll;
  }
  .new-post-article {
    .post-topic-button {
      @include edx-button($bb);
    }
    .post-field {
      @include row();
      margin-bottom: $base-spacing;

      .field-label {
        &-text, .sr {
          display: block;
          @include form-label;
        }
      }

      .field-input {
        border: none;
        margin: 0;
        display: block;
        .sr {
          display: none;
        }
      }
      .field-help {
        display: block;
        color: $medium-gray;
      }
    }

    .post-options {
      @include row();
      margin-bottom: $base-spacing;
      .post-option {
        @include row;
        vertical-align: middle;
        // @include form-label;
        input {
          vertical-align: middle;
        }
      }
    }

    .submit {
      @include edx-button($bb);
    }
    .cancel {
      @include edx-button($bb);
    }
    .submit, .cancel {
      width: auto;
      display: inline-block;
      @include media($mobile-l) {
        float: none;
        width: 100%;
        margin: $small-spacing / 2 0;
      }
    }
  }
}
