.discussion .discussion-body .forum-nav {
    background-color: $white;

    .forum-nav-browse-menu-wrapper,
    .forum-nav-header,
    .forum-nav-refine-bar,
    .forum-nav-thread-list,
    .forum-nav-thread-list-wrapper {
        display: block;
        width: 100%;
        float: left;
    }
    .forum-nav-thread-list {
      overflow: hidden;
    }
    .forum-nav-header {
        padding: 0 0.5em;
        position: relative;
        .forum-nav-search {
            display: none;
        }
        .forum-nav-browse {
            .sr {
                // TODO: tbd
                display: none;
            }
            display: block;
            background: none;
            border: 0;
            margin: 1em 0;
        }
        .forum-nav-search {
            .sr {
                // TODO: tbd
                display: none;
            }
            position: absolute;
            right: 1em;
            .forum-nav-search-input {
                position: absolute;
                float: right;
                right: 1.4em;
                text-align: right;
                width: 5em;
                text-overflow: ellipsis;
                border: 0;
                margin: .5em 0;
                padding-right: 0;
                padding-left: 1em;
                background-color: white;
                cursor: pointer;
                &:focus {
                    padding-right: 1em;
                    padding-left: 1em;
                    width: 14em;
                }
            }
            .icon {
                position: absolute;
                right: 0;
                margin: 1em 0;
                line-height: 24px;
                color: $brand-blue;
            }
            .forum-nav-search-input,
            .icon {
                display: inline-block;
                float: right;
            }
        }
    }
    .forum-nav-thread-list-wrapper {
        .forum-nav-refine-bar {
            background-color: $soft-blue;
            padding: .5em;
            .forum-nav-filter-main,
            .forum-nav-sort {
                display: inline-block;
                float:left;
                width: 100%;
            }
            .sr {
                // TODO: tbd
                display: none;
            }
            select {
                background: none;
                border: none;
                padding: 0 .3em;
            }
        }
        .forum-nav-thread-list {
            .forum-nav-thread,
            .forum-nav-thread-link {
                display: block;
                width: 100%;
                float: left;
            }
            .forum-nav-thread-link {
              color: $gray;
                &.is-active {
                  background-color: $soft-blue;
                }
                .sr {
                    display: none;
                }
                .forum-nav-thread-labels {
                    list-style: none;
                    li {
                      display: inline-block;
                      border: 1px solid #ccc;
                      padding: 0 .25em;
                      font-size: .75em;
                    }
                }

                .forum-nav-thread-wrapper-0,
                .forum-nav-thread-wrapper-1,
                .forum-nav-thread-wrapper-2 {
                  padding: 1em 0;
                }

                .forum-nav-thread-wrapper-0 {
                  float: left;
                  padding: 1em;
                }

                .forum-nav-thread-wrapper-2 {
                  float: right;
                  width: 2em;
                  margin: 0 .5em;
                }
                .forum-nav-thread-wrapper-1 {
                    overflow: hidden;
                    max-width: 67%;
                    padding: 1.1em 0;
                    font-size: .9em;
                    float: left;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .forum-nav-thread-wrapper-2 {
                  position: relative;
                  padding: 1em 0;
                  .forum-nav-thread-comments-count {
                    &:before {
                      @extend .icon;
                      content: "\f075";
                      position: absolute;
                      left:0;
                      top: -8px;
                      font-size: 2.75em;
                      color: lighten($gray, 30);
                      z-index: -1;
                    }
                    &.is-unread:before {
                      color: #4a9fff;
                    }
                  }
                }

                .forum-nav-thread-comments-count {
                  display: block !important;
                  width: 100%;
                  z-index: 2;
                  position: relative;
                  color: white;
                  text-align: center;
                  font-size: .75em;
                }
            }
        }
    }

    .forum-nav-browse-menu-wrapper {
        .forum-nav-browse-filter {
          padding: 0.9em 1.4em;
          .sr {
            // TODO: tbd
            display: none;
          }
          input {
            border: 0;
          }
          .icon {
            // color: $yellow;
            // float: right;
            // vertical-align: middle;
            // line-height: 22px;
            display: none;
          }
        }

        .forum-nav-browse-menu {
          overflow: scroll;
        }

        .forum-nav-browse-menu-item button {
          display: block;
          line-height: 1em;
          font-size: 0.9em;
          padding: 0.9em 1.4em;
          font-weight: normal;
          background: none;
          border: none;
          width: 100%;
          text-align: left;
          cursor: pointer;
          &:hover {
            background-color: $soft-blue;
          }

        }
    }
}
