.discussion .discussion-body {
  .discussion-column {
      @include span-columns(8 of 12);
  }

  .forum-nav {
      @include span-columns(4 of 12);
      position: initial;
      .forum-nav-browse-menu {
        height: auto !important;
      }
      .forum-nav-thread-list[style] {
        height: auto !important;
      }
      &[style] {
        top: auto !important;
        height: auto !important;
      }
  }

  @include media($tablet) {
    .discussion-column {
        @include span-columns(10);
    }

    .forum-nav {
        @include span-columns(10);
        @include omega;
        position: initial;
        .forum-nav-browse-menu {
          height: auto !important;
        }
        .forum-nav-thread-list[style] {
          height: auto !important;
        }
        &[style] {
          top: auto !important;
          height: auto !important;
        }
    }
  }
}
