.window-wrap {
  overflow: hidden;
  & > * {
    float: left;
    width: 100%;
  }
}

.content-wrapper {
  @include row;
  min-height: 100vh;
  & > * {
    @include responsive-outer-container();
  }
}

.sr {
  display: none;
}
