.window-wrap {
  overflow: hidden;
  & > * {
    float: left;
    width: 100%;
  }
}

.modal {
  background: white;
  border-radius: $base-border-radius;
  padding: $big-margin;
  left: 10% !important;
  right: 10% !important;
  margin: 0 !important;
  width: 80% !important;
}

.content-wrapper {
  @include row;
  & > * {
    @include responsive-outer-container();
    // margin-top: $big-margin;
  }
}
