body {
  margin: 0;
  background-color: #fbfbfb;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #a1a1a1;
  &:hover {
    cursor: pointer;
  }
}

:focus {
  outline: none;
}

.hidden {
  display: none;
}

.nav-skip {
  display: none;
}

h2 .text {
  color: #0a4f7d;
  text-transform: uppercase;
}

.form-field {
  input, textarea {
    border: none;
    border-radius: 2px;
  }
}
