$menu-breakpoint: $tablet;

.wrapper-account-settings {
  .wrapper-header {

    .account-nav {
      .account-nav-item {
        display: inline-block;
        padding: 0 $small-margin;

        @include media($menu-breakpoint) {
          float: none;
          width: 100%;
          padding: 0;
          margin: $small-margin 0;
        }

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }

        button {
          @include edx-flat-button();
          width: 100%;
        }
      }
    }
  }
}
