.wiki-wrapper {
  .control-group {
    .asteriskField {
      display: none;
    }
    label.requiredField:after {
      content: "*";
    }
  }
  .form-actions {
    .btn {
      @include edx-button($bb);
    }
    .btn-primary {
      @include edx-button($bb);
    }
    .btn {
      display: inline
    }

    margin-bottom: $base-spacing;
  }
}
