<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
  <section class="container about">
    <h1>${_("Honor Code")}</h1>
    <div class="section" id="about_project">
      <div class="container">
        <article>
          <h3>Оновлено: 1 жовтня 2017 року</h3>
          <p>
            <em>
              Будь-ласка, уважно ознайомтеся з Умовами надання послуг («Послуги», «Умови надання послуг») перед використанням веб-сайту <a href="http://www.ed-era.com/">www.ed-era.com</a> (надалі — «Послуги»), яким керує компанія EdEra (надалі — «ми», «нам», «нами» або «наш»).
            </em>
          </p>

          <p>
            Ваш доступ і використання послуг обумовлені прийняттям і дотриманням цих умов. Умови поширюються на всіх відвідувачів, користувачів та інших осіб, які мають доступ або користуються Послугою.
          </p>

          <p>
            <b>
              Отримуючи доступ або користуючись Послугою, ви погоджуєтеся з Умовами. Якщо ви не згодні з будь-якою частиною Умов, то будь ласка, не використовуйте Послуги.
            </b>
          </p>

          <h3>
            Обліковий запис користувача
          </h3>
          <p>
            Коли ви створюєте обліковий запис користувача, ви повинні надати Нам інформацію, яка є точною, повною та актуальною на даний момент.  Ми можемо призупинити надання вам Послуг у випадку недотримання вами наших Умов.
          </p>

          <p>
            Ви несете відповідальність за збереження пароля, який ви використовуєте для доступу до Послуги.  Ви несете відповідальність за будь-які дії, які виконуються у вашому обліковому записі під вашим паролем, не зважаючи на те, чи ви використовуєте ваш пароль для нашої Послуги, або для послуг третіх осіб.
          </p>

          <p>
            Ви погоджуєтеся не розголошувати свій пароль третім особам. Якщо ви дізнаєтеся про будь-яке порушення безпеки або несанкціоноване використання вашого облікового запису, ви повинні негайно повідомити нас про це.
          </p>

          <h3>
            Інтелектуальна власність
          </h3>

          <p>
            Послуга та її оригінальний контент, особливості та функціональні можливості є та залишатимуться виключно власністю EdEra та її ліцензіантів. Будь-яке копіювання чи використання оригінального контенту EdEra можливе лише з письмової згоди проекту EdEra.
          </p>
          <h3>
            Персональні дані
          </h3>
          <p>
            Ми здійснюємо обробку ваших персональних даних відповідно до чинного законодавства України. Зокрема, ми збираємо інформацію, що була надана вами та заносимо до бази, яка є конфіденційною. Як виключення, ми залишаємо за собою право надавати ваші контактні дані третім особам – співавторам курсів на EdEra. Така передача  здійснюється з корисними намірами  – для додаткового інформування Вас в сфері, яку ви обрали для вивчення. Таким чином, ви надаєте згоду на обробку ваших персональних даних.
          </p>
          <h3>
            На сайті заборонені:
          </h3>

          <ul>
            <li>Будь-які повідомлення та дії, що заборонені законодавством України. </li>
            <li>Образи будь-кого з учасників проекту: інших користувачів Послугою, адміністрації, викладачів. Нецензурні та вульгарні вирази.</li>
            <li>Реклама, комерційні повідомлення та спам.</li>
            <li>Розміщення матеріалів, що порушують авторське право.</li>
          </ul>

          <p></p>
          <h3>
            Припинення надання послуг
          </h3>
          <p>
            Ми можемо негайно заблокувати або призупинити дію вашого облікового запису без попереднього попередження або відповідальності з причини порушення Умов.
          </p>
          <p>
            Після припинення надання Послуги, ваше право на використання Послугою буде негайно припинене. Якщо ви хочете припинити дію вашого облікового запису ви можете просто припинити користуватися Послугою.
          </p>


          <h3>Зміни</h3>
          <p>
            Ми залишаємо за собою право на власний розсуд змінювати або замінювати ці Умови у будь-який час. Якщо зміна є матеріальною, то Ми намагатимемося хоча б за 15 днів до її вступу в силу повідомити вас.
          </p>
          <p>
            Продовжуючи доступ або використання нашої Послуги після вступу в силу змін до Умов, ви погоджуєтеся виконувати змінені Умови. Якщо ви не згодні з новими Умовами, будь ласка, припиніть користування Послугою.
          </p>

          <h3>Зв'язок з нами</h3>
          <p>Якщо ви маєте питання щодо Умов, будь ласка зв’яжіться з нами.</p>
          <p>
            <a href="mailto:info@ed-era.com">info@ed-era.com</a>
          </p>
          <p>
            0633806042
          </p>
        </article>
      </div>
    </div>
  </section>
</main>