<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
  <section class="container about">
    <h1>${_("Honor Code")}</h1>
    <div class="section" id="about_project">
      <div class="container">
        <article>
          <h3>Оновлено: 1 березня 2018 року</h3>
          <p>
            <em>
              Будь ласка, уважно ознайомтеся з Кодексом Честі перед використанням веб-сайту <a href="http://www.ed-era.com/">www.ed-era.com</a> та <a href="http://courses.ed-era.com/">courses.ed-era.com</a> (надалі – Сайт), який адмініструє Громадська організація «Едюкейшнал Ера» (далі – Адміністрація Сайту).
            </em>
          </p>

          <h3>Реєструючись на Сайті, ви погоджуєтеся:</h3>
          <ul>
            <li>– виконувати завдання в навчальних матеріалах самостійно без допомоги сторонніх осіб.</li>
            <li>– не намагатися нечесним шляхом покращити власні результати чи погіршити/покращити результати інших користувачів.</li>
            <li>– не розголошувати на форумах, в соціальних мережах чи іншим способом відповіді на питання, що використовуються в онлайн-курсах для оцінювання знань користувачів.</li>
          </ul>
          <h3>Особиста інформація користувачів</h3>
          <p>Адміністрація Сайту зобов’язується використовувати адреси електронних пошт та іншу особисту інформацію зареєстрованих користувачів Сайту виключно для забезпечення внутрішньої роботи Сайту, видачі сертифікатів та надсилання інформаційних листів з новинами курсів.</p>
          <h3>Інтелектуальна власність</h3>
          <p>Сайт та його оригінальний контент, особливості та функціональні можливості є та залишатимуться виключно власністю Адміністрації Сайту та його ліцензіантів. Будь-яке копіювання чи використання оригінального контенту Сайту можливе лише за письмової згоди Адміністрації Сайту.</p>
          <h3>На сайті заборонено:</h3>
          <ul>
            <li>– публікувати будь-які повідомлення та дії, що заборонені законодавством України.</li>
            <li>– прямо та непрямо ображати будь-кого, зокрема,  викладачів онлайн-курсів, користувачів Сайту, за національною, етнічною, расовою, гендерною, сексуальною, релігійною або іншою приналежністю.</li>
            <li>– розміщувати повідомлення, які містять нецензурну лексику.</li>
            <li>– прямо та непрямо ображати будь-кого, зокрема,  викладачів онлайн-курсів, користувачів Сайту, за національною, етнічною, расовою, гендерною, сексуальною, релігійною або іншою приналежністю.</li>
            <li>– розміщувати рекламу, комерційні повідомлення та спам (масову розсилку кореспонденції рекламного чи іншого характеру людям, які не висловили бажання її одержувати).</li>
            <li>– публікувати матеріали, що порушують авторське право.</li>
          </ul>
          <h3>Відповідальність</h3>
          <p>У випадку порушення користувачем умов Кодексу Честі, Адміністрація Сайту залишає за собою право негайно заблокувати або призупинити дію облікового запису користувача, не попереджаючи заздалегідь.</p>
          <p>Адміністрація Сайту не несе відповідальності за будь-які дії користувачів Сайту, в тому числі пов’язані із передання користувачем особистої інформації та паролю від облікового запису іншим особам.</p>
          <h3>Внесення змін до Кодексу Честі</h3>
          <p>Адміністрація Сайту має право на власний розсуд змінювати умови Кодексу Честі. У випадку суттєвих змін, Адміністрація Сайту зобов’язується повідомити про такі зміни користувачів. Продовжуючи користування Сайтом, ви автоматично погоджуєтеся на оновлені умови Кодексу Честі.</p>
        </article>
      </div>
    </div>
  </section>
</main>