.content-wrapper > .course-info {
  padding: 0;
  margin: 0;
  max-width: 100%;
  margin-top: -1.25em;

  .intro-inner-wrapper {
    @include responsive-outer-container();
  }

  .course-profile {
    background: $dark-gray;
    padding: $base-spacing * 3 0;

    .heading-group {
      text-align: center;
      h1 {
        color: white;
        font-size: em(35);
        text-transform: uppercase;
        font-weight: 300;
        a {
          color: white;
        }
      }
    }

    h2 {
      text-align: center;
      color: white;
      font-weight: 300;
    }

    .main-cta {
      text-align: center;
      a {
        @include edx-button($brand-blue);
        font-size: em(20);
        display: inline-block;

        @include media($mobile) {
          display: block;
          white-space: normal;
        }
      }
    }
    .register.disabled {
      display: none;
    }

    .media {
      display: none;
    }
  }

  .container {
    .details {
      @include responsive-outer-container();
      @include row;
      padding-top: 1.25em;
    }
    .inner-wrapper > section > .container {
        @include responsive-outer-container();
        @include row;

        width: 70%;
        margin-bottom: $big-margin;

        .features {
          @include row;
          margin: $base-margin 0;
          li {
            @include span-columns(4);
            @include omega();
            text-align: center;
            line-height: $base-line-height * 1.5;
            .fa {
              margin-right: $base-margin;
            }
          }
        }

        .short-description {
          @include span-columns(8);
        }

        .pop-up {
          @include span-columns(4);
          @include omega();
        }

        h2 {
          text-transform: uppercase;
          text-align: center;
          margin: 35px auto;
          font-size: 1.375em;
        }

        .program {
          @include span-columns(8);
          padding-right: 30px;
          & > ul {
            & > li {
              margin-left: 20px;
            }
          }
        }

        .more-info {
          @include span-columns(4);
          @include omega();
          border: solid #eee 1px;
          padding: 25px;
          .info {
            margin-bottom: 10px;
            & > p {
              margin-bottom: auto;
            }
            & > ul > li {
              padding-left: 10px;
              & > i {
                padding-right: 10px;
              }
            }
          }
          .social {
            ul, li {
              display: block;
              float: left;
              padding: 0 .25em;
              font-size: 1.30em;
              color: $brand-blue;
            }
            li .fa {
              color: $brand-blue;
            }
          }
          .register {
            float: left;
            display: inline-block;
            @include edx-button($brand-blue);
          }

        }

        .inside {
          @include row;
          margin-bottom: 20px;
          .inside-content {
            @include span-columns(3);
          }
          .inside-description {
            @include span-columns(9);
            @include omega();
          }
        }

        .course-staff-wrap {
          .course-staff {
            @include span-columns(4);
            @include omega(3n);
            p {
              text-align: center;
            }
            img {
              margin: $base-margin auto;
            }
          }
        }

        .main-staff-wrapper {
          .main-staff {
            @include span-columns(4);

            p {
              text-align: center;
            }
            .photo {
              position: relative;
            }
          }
          .main-staff-description {
            @include span-columns(8);
            @include omega();
          }
        }

        @include media($tablet) {
          width: 80%;

          .features {
            li {
              text-align: left;
              @include span-columns(12);
              .fa {
                display: inline;
              }
            }
          }

          .short-description,
          .pop-up {
            @include span-columns(5);
          }
        }

        @include media($mobile) {
          width: auto;

          .features li,
          .short-description,
          .pop-up,
          .program,
          .more-info,
          .inside .inside-content,
          .inside .inside-description,
          .course-staff-wrap .course-staff,
          .main-staff-wrapper .main-staff,
          .main-staff-wrapper .main-staff-description {
            @include span-columns(12);
          }
        }
    }
    // end of for each section


    b {
      color: $brand-blue;
    }

    img.photo {
      border-radius: 50%;
    }
  }
}

.course-sidebar {
  display: none;
}


/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
