<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%page args="course" expression_filter="h"/>
<article class="course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}">
  <section class="details">
    <div class="wrapper-course-image" aria-hidden="true">
      <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
        <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" />
      </a>
    </div>
    <div class="wrapper-course-details">
      <div class="course-info">
        <span class="info-university">${course.display_org_with_default}</span>
        <span class="info-date-block" data-tooltip="Hi">
          ${_("Starts")}: ${course.start_datetime_text()}
        </span>
      </div>
      <h3 class="course-title">
        <span class="title-id">${course.display_number_with_default}</span>
        <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" class="title-name">
          ${course.display_name_with_default}
        </a>
      </h3>
      <div class="wrapper-course-actions">
        <div class="course-actions">
          <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" class="title-name">
            <div class="learn-more" aria-hidden="true">${_("LEARN MORE")}</div>
          </a>
        </div>
      </div>
    </div>
  </section>
</article>
